
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @Html.Partial("AdminHeader")
    <div style="text-align:center"> 
        <div style="display:flex; justify-content:space-around; margin-top:100px;margin-left:300px;margin-right:300px">
            <h3><a href="/MyUserManage/GetAllUserList">用户管理</a></h3>
            <h3><a href="">留言管理</a></h3>
        </div>
    </div>
</body>
</html>
