<!--用户中心的菜单-->
<div style="text-align:center">
    <h3>用户中心</h3>
    <div style="display:flex; justify-content:space-around">
        <a href="/MyUserCenter/ChangeUserInfo">修改信息</a>
        <a href="">历史留言</a>
        <a href="">编写留言</a>
    </div>
</div>